{
  "extends": ["plugin:@next/next/recommended", "plugin:css/recommended", "acme"],
  "plugins": ["css"],
  "rules": {
    "no-unused-vars": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "tailwindcss/no-custom-classname": "off"
  }
}
