@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --min-height: calc(100vh - 0.5rem);
}

.bg-dark {
  background-color: #1f2937;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%234f46e5' fill-opacity='0.5' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
  /* background-position-x: 25%; */
}

.bg-light {
  background-color: #f9fafb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23c7d2fe' fill-opacity='0.5' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
  /* background-position-x: 25%; */
}

@layer base {
  body {
    @apply text-cyan-400 font-sans dark:selection:text-cyan-900 dark:selection:bg-cyan-300 selection:text-cyan-500;
  }

  a {
    @apply focus:no-underline hover:no-underline !important;
  }

  a:not(.retro-shadow), input[type="button"]:not(.retro-shadow) {
    @apply focus:outline-none focus:ring focus:ring-inset focus:ring-cyan-400 dark:focus:ring-cyan-300 cursor-pointer;
  }

  nav a, .nav-link {
    @apply transition-all hover:shadow-link dark:hover:shadow-link-dark dark:shadow-underline-dark shadow-underline p-2 focus:rounded-md text-gray-800 dark:text-gray-50 no-underline text-xl font-semibold !important;
  }

  footer nav a, footer .nav-link {
    @apply text-sm !important;
  }

  .accent {
    @apply dark:text-cyan-300 text-cyan-600 bg-cyan-50 dark:bg-cyan-900 bg-clip-content;
  }

  .accent-no-bg {
    @apply dark:text-cyan-300 text-cyan-600 font-semibold;
  }

  .accent-indigo {
    @apply px-2 dark:text-indigo-300 text-indigo-600 font-mono bg-indigo-50 dark:bg-indigo-900 bg-clip-content;
  }

  .background-pattern {
    @apply sm:dark:bg-pattern-dark sm:bg-pattern-light sm:bg-no-repeat sm:bg-origin-content;
  }

  .background-pattern-sm {
    @apply sm:dark:bg-pattern-dark-sm sm:bg-pattern-light-sm sm:bg-no-repeat sm:bg-origin-content;
  }

  .custom-focus {
    @apply focus:outline-none focus:ring focus:ring-inset focus:ring-cyan-400 dark:focus:ring-cyan-300 focus:rounded-md cursor-pointer
  }

  .custom-focus-offset {
    @apply focus:outline-none focus:ring focus:ring-cyan-400 dark:focus:ring-cyan-300 focus:rounded-md cursor-pointer
  }

  .rainbow-bg {
    @apply bg-gradient-to-r dark:from-yellow-300 from-yellow-400 dark:to-cyan-400 to-cyan-500 dark:via-pink-400 via-pink-500;
  }

  .rainbow {
    @apply text-transparent bg-gradient-to-r bg-clip-text dark:from-yellow-300 from-yellow-500 dark:to-cyan-400 to-cyan-500 dark:via-pink-400 via-pink-500;
  }

  .retro {
    @apply text-blue-300 dark:text-rose-50 selection:text-cyan-50 dark:selection:text-gray-800 font-black tracking-tight;
    text-shadow: 3px 2px 0px #4F46E5, 5px 4px 0px #C7D2FE;
  }

  .dark .retro {
    text-shadow: 3px 2px 0px #fb7185, 5px 4px 0px #e11d48;
  }

  .retro-shadow {
    box-shadow: 6px 6px 0px #C7D2FE;
  }

  .dark .retro-shadow {
    box-shadow: 6px 6px 0px #312E81;
  }

  .social-github {
    @apply dark:hover:text-gray-600 dark:hover:bg-white hover:text-[#24292e] dark:text-gray-100 text-gray-400 text-xl sm:text-3xl;
  }

  .social-linkedin {
    @apply dark:hover:text-[#0a66c2] hover:text-[#0a66c2] dark:text-gray-100 text-gray-400 text-xl sm:text-3xl;
  }

  .social-twitter {
    @apply dark:hover:text-[#1da1f2] hover:text-[#1da1f2] dark:text-gray-100 text-gray-400 text-xl sm:text-3xl;
  }

  .social-youtube {
    @apply dark:hover:text-[#ff0000] hover:text-[#ff0000] dark:text-gray-100 text-gray-400 text-xl sm:text-3xl;
  }
}

@layer components {
  .prose {
    @apply dark:text-gray-50 text-gray-500;
  }
  .prose h1 {
    @apply retro relative text-center !important;
  }
  .prose-lg h1 {
    @apply leading-tight !important;
  }
  .prose h2, .prose h3 {
    @apply inline-flex my-4 font-extrabold tracking-tight text-gray-700 dark:text-rose-50 !important;
  }
  .prose h4 {
    @apply inline-flex my-4 font-bold tracking-tight text-gray-700 dark:text-rose-50 !important;
  }
  .prose blockquote {
    @apply dark:text-cyan-200 text-gray-600;
  }
  .prose code {
    @apply dark:text-cyan-200 text-gray-700;
  }
  .prose strong {
    @apply dark:text-white text-gray-800;
  }
  .prose a {
    @apply dark:hover:text-gray-800 dark:hover:bg-cyan-300 p-1 dark:text-cyan-300 text-cyan-500 underline font-bold hover:bg-cyan-100 rounded-md;
  }
  .prose hr {
    @apply my-8 sm:my-10 !important;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
