@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

@layer base {
  body {
    @apply font-sans text-gray-700 selection:bg-black selection:text-sky-200 dark:text-gray-50 dark:selection:bg-sky-200 dark:selection:text-black;
  }

  a {
    @apply hover:no-underline focus:no-underline !important;
  }

  a:not(.shadow-retro),
  input[type='button']:not(.shadow-retro) {
    @apply cursor-pointer focus:outline-none focus:ring focus:ring-sky-300;
  }

  nav:not(.toc) a,
  .nav-link {
    @apply p-2 font-bold text-gray-800 no-underline shadow-underline transition-all hover:shadow-link dark:text-gray-50;
  }

  .accent {
    @apply font-semibold text-indigo-600 dark:text-yellow-300;
  }

  .accent-underline {
    @apply font-semibold text-gray-700 underline decoration-amber-400 decoration-dotted decoration-2 underline-offset-8 dark:text-white dark:decoration-yellow-400;
  }

  .blurred-backdrop {
    @apply bg-gray-50 bg-opacity-80 filter backdrop-blur dark:bg-gray-800 dark:bg-opacity-80 dark:backdrop-blur-sm;
  }

  .button-outline {
    @apply border border-indigo-100 hover:border-indigo-300 dark:border-indigo-800 hover:dark:border-indigo-600;
  }

  .custom-focus {
    @apply cursor-pointer focus:outline-none focus:ring focus:ring-inset focus:ring-sky-300;
  }

  .custom-focus-offset {
    @apply cursor-pointer focus:outline-none focus:ring focus:ring-sky-300;
  }

  .note {
    @apply border-2 border-dotted border-indigo-500 bg-white p-2 dark:bg-gray-800;
  }

  .note > p {
    margin: 0;
  }

  .note strong {
    @apply accent text-transparent !important;
  }

  .retro {
    @apply font-black tracking-tight text-blue-300 selection:text-indigo-50 dark:text-amber-50 dark:selection:text-gray-800;
    text-shadow: 3px 2px 0px #4f46e5, 5px 4px 0px #c7d2fe;
  }

  .dark .retro {
    text-shadow: 3px 2px 0px #ec4899, 5px 4px 0px #fbbf24;
  }

  .retro-thin {
    @apply font-black tracking-tight text-indigo-600 selection:text-indigo-50 dark:text-yellow-300 dark:selection:text-gray-800;
    text-shadow: 3px 2px 0px #c7d2fe;
  }

  .dark .retro-thin {
    text-shadow: 3px 2px 0px #ec4899;
  }

  .social-github {
    @apply text-xl text-gray-400 hover:text-[#24292e] dark:text-gray-100 dark:hover:bg-white dark:hover:text-gray-600 sm:text-3xl;
  }

  .social-linkedin {
    @apply text-xl text-gray-400 hover:text-[#0a66c2] dark:text-gray-100 dark:hover:text-[#0a66c2] sm:text-3xl;
  }

  .social-twitter {
    @apply text-xl text-gray-400 hover:text-[#1da1f2] dark:text-gray-100 dark:hover:text-[#1da1f2] sm:text-3xl;
  }

  .social-youtube {
    @apply text-xl text-gray-400 hover:text-[#ff0000] dark:text-gray-100 dark:hover:text-[#ff0000] sm:text-3xl;
  }

  .title {
    @apply retro py-2 text-5xl font-black tracking-tight;
  }
}

@layer components {
  .prose {
    @apply text-gray-700 dark:text-gray-50;
  }

  .prose a:not(.not-prose):not(.anchor):not(.toc-link):not(.simple-link) {
    @apply font-medium text-gray-800 underline decoration-sky-300 decoration-2 underline-offset-2 transition-all hover:underline-offset-4 focus:no-underline dark:text-gray-50 !important;
  }

  .prose blockquote {
    @apply border-l-[0.5rem] border-indigo-300 bg-indigo-50 p-2 font-normal not-italic text-gray-800 backdrop-blur dark:border-indigo-600 dark:bg-slate-900/80 dark:text-gray-50;
  }

  .prose blockquote p {
    @apply text-gray-900 dark:text-white;
    margin: 0;
  }

  .prose blockquote p::before {
    display: none;
  }

  .prose blockquote p::after {
    display: none;
  }

  .prose code {
    @apply text-gray-700 dark:text-indigo-200;
  }

  .prose h1 {
    @apply retro relative text-center !important;
  }

  .prose-lg h1 {
    @apply leading-tight !important;
  }

  .prose h2,
  .prose h3,
  .prose h4 {
    @apply my-4 font-bold tracking-tight text-gray-700 dark:text-rose-50 !important;
  }

  .prose hr {
    @apply my-8 sm:my-10 !important;
  }

  .prose pre {
    @apply my-0 rounded-none;
  }

  .prose pre code {
    @apply text-sm;
  }

  .prose strong {
    @apply font-bold text-gray-700 dark:text-white;
  }

  .prose .anchor {
    @apply invisible absolute ml-1 cursor-pointer px-1 no-underline;
  }

  .prose .anchor:after {
    @apply font-bold text-gray-400 no-underline;
    content: '#';
  }

  .prose .anchor:hover:after {
    @apply text-sky-300;
  }

  .prose *:hover > .anchor {
    @apply visible;
  }

  .prose .rehype-code-title {
    @apply border border-b-0 border-indigo-200 bg-indigo-50 py-1 px-2 font-mono text-sm font-bold text-indigo-800 dark:border-indigo-800 dark:bg-black dark:text-indigo-200;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
