/* PrismJS 1.24.1
https://prismjs.com/download.html?themes#themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 /* Color Tokens */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  --attr-name: #65A30D;
  --attr-value: #0369A1;
  --bg: #F9FAFB;
  --color: #111827;
  --comment: #9CA3AF;
  --keyword: #0891B2;
  --imports: #06B6D4;
  --text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

html[class="dark"] code[class*="language-"]:not([contenteditable]),
html[class="dark"] pre[class*="language-"] {
  --attr-name: #A3E635;
  --attr-value: #FAE8FF;
  --bg: #1F2937;
  --color: #F3F4F6;
  --comment: #6B7280;
  --keyword: #67E8F9;
  --imports: #F0ABFC;
  --text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

code[class*="language-"],
pre[class*="language-"] {
	color: var(--color);
	background: none;
	text-shadow: var(--text-shadow);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--bg);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--comment);
}

.token.punctuation {
	color: var(--color);
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--attr-name);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: var(--color);
}

.token.atrule,
.token.attr-value,
.token.function {
	color: var(--attr-value);
}

.token.class-name,
.token.maybe-class-name,
.token.imports {
	color: var(--imports);
}

.token.keyword {
	color: var(--keyword);
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

