/**
 * Custom theme for Prism, inspired by Monokai (Light + Dark Mode)
 *
 * Author: Mykhaylo Ryechkin
 * GitHub: https://github.com/mryechkin
 */

/* Light Mode */
code[class*='language-'],
pre[class*='language-'] {
  --attr-name: #6366f1;
  --attr-value: #d946ef;
  --bg: #f9fafb;
  --border: #c7d2fe;
  --box-shadow: #e5e7eb;
  --color: #1f2937;
  --comment: #9ca3af;
  --keyword: #0ea5e9;
  --parameter: #a855f7;
  --punctuation: #c026d3;
  --tag: #ec4899;
}

/* Dark Mode */
html[class='dark'] code[class*='language-'],
html[class='dark'] pre[class*='language-'] {
  --attr-name: #e879f9;
  --attr-value: #818cf8;
  --bg: #1f2937;
  --border: #6366f1;
  --box-shadow: #374151;
  --color: #f3f4f6;
  --comment: #6b7280;
  --keyword: #68c6d3;
  --parameter: #a855f7;
  --punctuation: #d946ef;
  --tag: #a5b4fc;
}

pre[class*='language-'] > code {
  --border-width: 2px;
  --codeblock-padding: 0.5em 1em;
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--color);
  background: 0 0;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*='language-'] {
  position: relative;
  margin: 0.5em 0;
  overflow: visible;
  padding: 0;
}
pre[class*='language-'] > code {
  position: relative;
  border: var(--border-width) solid var(--border);
  background-color: var(--bg);
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  color: var(--color) !important;
}
code[class*='language-'] {
  max-height: inherit;
  height: inherit;
  padding: var(--codeblock-padding) !important;
  display: block;
  overflow: auto;
}
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: var(--bg);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}
:not(pre) > code[class*='language-'] {
  position: relative;
  padding: 0.2em;
  border-radius: 0.3em;
  color: var(--tag);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
}
pre[class*='language-']:after,
pre[class*='language-']:before {
  content: '';
  z-index: -2;
  display: block;
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  width: 40%;
  height: 20%;
  max-height: 13em;
  box-shadow: 0 13px 8px #979797;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
pre[class*='language-']:after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}
.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: var(--comment);
}
.token.punctuation {
  color: var(--punctuation);
}
.token.attr-equals,
.token.boolean,
.token.constant,
.token.deleted,
.token.function-name,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: var(--tag);
}
.token.attr-name,
.token.builtin,
.token.char,
.token.function,
.token.inserted,
.token.selector,
.token.string {
  color: var(--attr-name) !important;
}
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: var(--tag);
}
.token.atrule,
.token.attr-value {
  color: var(--attr-value);
  font-style: italic;
}
.token.rule,
.token.keyword {
  color: var(--keyword);
}
.token.parameter {
  color: var(--parameter);
}
.token.control-flow,
.token.module,
.token.script-punctuation {
  color: var(--tag) !important;
}
.token.arrow {
  color: var(--keyword) !important;
  font-style: italic;
}
.token.class-name {
  color: var(--keyword) !important;
}
.token.plain-text {
  color: var(--color);
}
.token.important,
.token.regex {
  color: var(--parameter);
}
.language-css .token.string,
.style .token.string {
  color: var(--tag);
}
.token.important {
  font-weight: 400;
}
.token.bold {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token.namespace {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  pre[class*='language-']:after,
  pre[class*='language-']:before {
    bottom: 14px;
    box-shadow: none;
  }
}
pre[class*='language-'].line-numbers.line-numbers {
  padding-left: 0;
}
pre[class*='language-'].line-numbers.line-numbers code {
  padding-left: 3.8em;
}
pre[class*='language-'].line-numbers.line-numbers .line-numbers-rows {
  left: 0;
}
pre[class*='language-'][data-line] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
pre[data-line] code {
  position: relative;
  padding-left: 4em;
}
pre .line-highlight {
  margin-top: 0;
}
